extends layout

mixin card
    div.card.text-white
        img.card-img(src="https://www.tate.org.uk/art/images/work/T/T01/T01133_10.jpg")
        div.card-img-overlay
            h5.card-title Card Title 
            p.card-text Card texttextext

block layout-content
    div.nav-menu
        div.return 
            a(href="../") Return to home
    div.header
        div.date
            div.date-month COLLECTIONS
    div.collections
        div.row
            div.col
                a(href="/collection")
                    +card
            div.col
                +card
            div.col
                +card
            div.col
                +card
            div.col
                +card
            div.col
                +card
        br
        div.row
            div.col
                +card
            div.col
                +card
            div.col
                +card
            div.col
                +card
            div.col
                +card
            div.col
                +card