extends layout

block layout-content
    div.header
        div.title tables/1990/summer/yellow
        div.date-month #{date_month}
        div.date-day #{date_day}
    div.menu
        div.menu-link ■ Generate a new exhibit
        div.menu-link ■ Save exhibit into collections
        div.menu-link-persimmon
            a(href="/collections") ■ My collections
        div.menu-link
            a(href="/recent") ■ Recently viewed items
    div.gallery
        each val, index in gallery
            img(class=("g-" + (index + 1)), src=("" + gallery[index]['primaryImage']))